hcloud_token = ""

cloudflare_api_token = ""
cloudflare_zone_id   = ""

tailnet                     = ""
tailnet_oauth_client_id     = ""
tailnet_oauth_client_secret = ""
tailscale_auth_key          = ""
node_password               = ""
